.container {
    max-width: 144rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.products {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.product {
    background: #f9f8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product img {
    width: 100%;
}

.product-content {
    padding: 1rem 2rem;
}

.product .product-title {
    font-size: 2rem;
}

.product-description {
    text-align: justify;
}

.product-title,
.product-price-container,
.product-description,
.product-category {
    padding: 0.5rem 0;
}

.product-price-container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    background: rgb(16, 8, 69);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    border-radius: 1rem;
}

.add-to-cart ion-icon {
    font-size: 3rem;
}

.section .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  
  .all-products .top select {
    font-family: 'Roboto', sans-serif;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  form {
    position: relative;
    z-index: 1;
  }
  
  form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .all-products .top select {
      width: 15rem;
    }
  }